pandas
streamlit
opencv-python
numpy
insightface
onnxruntime
faiss-cpu
ultralytics
torch
torchvision
sqlalchemy
streamlit-autorefresh
filelock
webrtcvad
openai-whisper



fastapi==0.104.1
uvicorn[standard]==0.24.0
pytest-mock==3.12.0
